[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
msgpack = "==1.0.7"
kademlia = "==2.2.2"

[dev-packages]
pytest = "==7.4.3"

[requires]
python_version = "3.10.12"
